[submodule "tannhjul-custom-commands"]
	path = tannhjul-custom-commands
	url = git@github.com:r-Norge/tannhjul-custom-commands.git
[submodule "tannhjul-ComicsNo"]
	path = tannhjul-ComicsNo
	url = git@github.com:r-Norge/tannhjul-ComicsNo.git
